# Selecting Data
1. Run the cell below to setup this notebook

In [1]:
import pandas as pd
import numpy as np
import random

num_rows = 100
colors = ['Red', 'Blue', 'Green']

df = pd.DataFrame( {'color': [colors[random.randint(0,2)] for _ in range(num_rows)],
                    'integers': [random.randint(0,15) for _ in range(num_rows)],
                    'floats': [random.random() for _ in range(num_rows)]})
df.head()

   color  integers    floats
0  Green         4  0.655447
1  Green         5  0.038501
2    Red        13  0.284395
3    Red        12  0.945983
4    Red         8  0.299258

2. Create a mask named 'red_mask' with `True` for all rows where the color is equal to 'Red'. Remember that the equals operator is a double equals `==`.

In [2]:
red_mask = df['color'] == 'Red'

3. New create a DataFrame named 'red_df' by using the mask with the data frame `df`. You can use the mask in the simple bracket syntax to filter the DataFrame.

In [4]:
red_df = df[red_mask]
print(red_df)

   color  integers    floats
2    Red        13  0.284395
3    Red        12  0.945983
4    Red         8  0.299258
6    Red         4  0.437744
7    Red         7  0.138837
17   Red         3  0.827762
21   Red         6  0.987660
23   Red        10  0.383008
27   Red        13  0.198920
28   Red         7  0.794833
29   Red         7  0.580621
33   Red         6  0.295879
34   Red         1  0.275031
36   Red        10  0.984487
37   Red        12  0.049408
38   Red         4  0.737641
39   Red         4  0.688503
41   Red         2  0.439934
46   Red         0  0.173934
52   Red         3  0.077418
55   Red        10  0.362366
56   Red         6  0.590564
61   Red        12  0.105050
65   Red         4  0.155057
66   Red        13  0.378581
68   Red         9  0.623787
69   Red         5  0.401662
73   Red         8  0.572276
74   Red        14  0.897747
77   Red         4  0.846059
78   Red        10  0.462744
92   Red         8  0.380056
94   Red        12  0.553642
95   Red        14  0.349669

4. Columns have a method, `.unique()`, which will return all unique values in that column. Call this method on the `red_df.color` to confirm that it only contians 'Red' values.

In [6]:
print(red_df.color.unique())

['Red']

5. Now use the not operator, `~`, in combination with `red_mask`, to create a new DataFrame named 'no_red'. Simply put `~` in front of the mask to negate it.

In [8]:
no_red = df[~red_mask]
print(no_red)

    color  integers    floats
0   Green         4  0.655447
1   Green         5  0.038501
5   Green         6  0.710884
8    Blue         6  0.871042
9    Blue         6  0.500037
..    ...       ...       ...
93  Green         0  0.811281
96   Blue         3  0.858502
97   Blue        12  0.099966
98   Blue         5  0.645250
99  Green         1  0.047973

[66 rows x 3 columns]

6. Now check the values of `no_red.color` using the `.unique()` method to confirm that there are no 'Red' values.

In [10]:
print(no_red.color.unique())

['Green' 'Blue']

7. Create a new mask named 'three_mask' for all rows where `integers <= 3`.

In [11]:
three_mask = df['integers'] < 3

8. Create a new DataFrame named 'mixed_df' containing only rows whose color is 'Red' and whose integer value is equal or less than 3 by using the 'and' operator, `&` between that masks.

In [12]:
mixed_df = red_df[three_mask]
print(mixed_df)

   color  integers    floats
34   Red         1  0.275031
41   Red         2  0.439934
46   Red         0  0.173934

9. Now use `.unique()` to check the values of the 'color' column

In [13]:
print(mixed_df.color.unique())

['Red']

10. Use `.unique()` to check the values of the 'integer' column, confirming that they are all less than or equal to 3.

In [14]:
print(mixed_df.integers.unique())

[1 2 0]