SQLLite sample with Faker

In [10]:
import os

CURRENT_DIR = os.path.dirname(os.path.abspath('__file__'))
SQLITE_FILE = os.path.join(CURRENT_DIR, 'test-sqllite3.db')
print(SQLITE_FILE)

/Users/pandi/source/DataEngineering/DataEngineeringEssentials/Python_and_SQL_4_DE/test-sqllite3.db

In [17]:
import sqlite3

TABLE_NAME = "people"
CREATE_TABLE_QUERY = f'CREATE TABLE {TABLE_NAME} (id integer primary key, firstname TEXT, lastname TEXT, email TEXT)'
TABLE_EXISTS_QUERY = f'SELECT name FROM sqlite_master WHERE type="table" AND name="{TABLE_NAME}"'
DROP_TABLE_QUERY = f'DROP TABLE {TABLE_NAME}'

# with sqlite3.connect(SQLITE_FILE, timeout=10) as connection:
connection = sqlite3.connect(SQLITE_FILE, timeout=10)
cursor = connection.cursor()

cursor.execute(TABLE_EXISTS_QUERY)
is_table_exists = cursor.fetchone()

if is_table_exists:
    print(f"Table {TABLE_NAME} already exists... hence dropping...")
    cursor.execute(DROP_TABLE_QUERY)

cursor.execute(CREATE_TABLE_QUERY)
connection.commit()
print("Table people was created successfully!!!")

cursor.close()

Table people was created successfully!!!

In [18]:
from faker import Faker

fake = Faker()

names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]

In [19]:
INSERT_QUERY = f'INSERT INTO {TABLE_NAME}(firstname, lastname) VALUES(?, ?)'

cursor = connection.cursor()
for name in names:
    cursor.execute(INSERT_QUERY, name)

connection.commit()
cursor.close()

In [24]:
SELECT_QUERY = f'SELECT * FROM {TABLE_NAME} LIMIT 10'

cursor = connection.cursor()
# query_result = cursor.execute(SELECT_QUERY)
# for name in query_result.fetchall():
#     print(name)
for name in cursor.execute(SELECT_QUERY):
    print(name)
cursor.close()

(1, 'Joe', 'Day', None)
(2, 'Veronica', 'Butler', None)
(3, 'Eric', 'Hicks', None)
(4, 'Henry', 'Stokes', None)
(5, 'Gordon', 'Blair', None)
(6, 'Julie', 'Hoffman', None)
(7, 'David', 'White', None)
(8, 'Keith', 'Mathis', None)
(9, 'John', 'Wagner', None)
(10, 'Cynthia', 'Ramirez', None)